<header class="navigation">
  <div class="menu-wrapper">
    <div class="nav">
      <ul id="navigation-menu">
				<li class="nav-link">
					<% unless  @profile_page %>
						<a href="javascript:void(0)" class="ion-ios7-search-strong"></a>
					<% else %>
        		<h2 id="profile_title">Your Profile Page</h2>
      		<% end %>
      	</li>
				<% unless current_user %>
					<li class="nav-link right"><a href="#">Login</a></li>
        	<li class="nav-link right"><a href="#">Sign Up</a></li>
				<% else %>       
      		<li class="nav-link right">
      			<%= link_to "Profile", user_path(current_user), :class => 'nav_button2' %>
      		</li>
      		<li class="nav-link right">
      			<%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'nav_button2' %>
      		</li>
      	<% end %>        
      </ul>
    </div> 
  </div>
</header>

<div class="navigation-menu-button" id="js-mobile-menu">
  <a id="hamburger-icon" href="#" title="Menu">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
  </a>
</div>