<header class="navigation">
  <nav>
    <a href="/"><h3 id="profile_title">HOME</h3></a></div>
    <div class="search-bar">
      <% unless  @profile_page %>
        <input id = "lower_address" type="search" placeholder="Enter Street Address" />
        <button id = "lower_address_submit" type="submit">
          <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
        </button>
      <% else %>
        <h2 id="profile_title">Your Profile Page</h2>
      <% end %>
      <% unless current_user %>
        <a href="javascript:void(0)" class="login">
          <div class="modal">
            <label for="modal-1">
              <div id = "login_link" style = 'color: white'>Log In</div>
            </label>
            <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-window">
              <div class="modal-inner">
                <label class="modal-close" for="modal-1"></label>
                <%= render 'users/login' %>
              </div>
            </div>
          </div>
        </a>
      <% else %>       
        <%= link_to "Profile", user_path(current_user), :class => 'nav_button2' %>

        <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'nav_button2' %>
      <% end %>
    </div> 
  </nav>
</header>